@font-face {
    font-family: Poppins;
    src: url('/src/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');

    font-family: HackNF;
    src: url(/src/assets/fonts/HackNF/Hack-Regular-Nerd-Font-Complete.ttf)

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 24%;
    font-weight: 900;
    font-family: HackNF;
}

img.avatar {
    width: 200px;
    max-width:50%;
    max-height:50%;
    border-radius: 100px;
    align-items: center;
}

h1 {
    font-family: HackNF;
}
p {
    font-family: HackNF;
}